* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Common Styles Start */

.coffee-yellow {
  color: #e9b44c;
}

/* Common Styles End */

/* Navbar Styles Start */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2e2622;
  align-items: center;
  padding: 13px 8%;
}

.right-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.right-nav ul a {
  text-decoration: none;
  color: #fbf6ef;
}

.left-nav {
  display: flex;
  gap: 8px;
  align-items: center;
}

.web-name-img {
  transform: rotate(180deg);
}
/* Navbar Styles End */

/* Header Section Start */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: burlywood;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("../images/bg-image.avif");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-heading {
  color: #e9b44c;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 13px;
}

.heading {
  color: #fbf6ef;
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 18px;
}

.heading-des {
  font-size: 15px;
  color: #f0e9dd;
  margin-bottom: 28px;
}

.heading-btn button {
  background-color: #e9b44c;
  color: #2e2622;
  font-size: 13px;
  font-weight: bold;
  border: none;
  padding: 12px 32px;
  border-radius: 28px;
  cursor: pointer;
}

.heading-btn button:hover {
  background-color: #fcce72;
}
/* Header Section End */
