* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Common Styles Start */

.coffee-yellow {
  color: #e9b44c;
}

.section-measurment{
  padding: 80px 8%;
}

.middle{
  text-align: center;
}

/* Common Styles End */

/* Navbar Styles Start */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2e2622;
  align-items: center;
  padding: 13px 8%;
}

.right-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.right-nav ul a {
  text-decoration: none;
  color: #fbf6ef;
}

.left-nav {
  display: flex;
  gap: 8px;
  align-items: center;
}

.web-name-img {
  transform: rotate(180deg);
}
/* Navbar Styles End */

/* Header Section Start */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: burlywood;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("../images/bg-image.avif");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-heading {
  color: #e9b44c;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 13px;
}

.heading {
  color: #fbf6ef;
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 18px;
}

.heading-des {
  font-size: 15px;
  color: #f0e9dd;
  margin-bottom: 28px;
}

.heading-btn button {
  background-color: #e9b44c;
  color: #2e2622;
  font-size: 13px;
  font-weight: bold;
  border: none;
  padding: 12px 32px;
  border-radius: 28px;
  cursor: pointer;
}

.heading-btn button:hover {
  background-color: #fcce72;
}
/* Header Section End */

/* Our Story Section Start */
#our-story{
  background-color: rgb(251, 246, 239);
}

.our-story-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 47px;
  justify-content: center;
  align-items: center;
}

.story-img img{
  max-width: 100%;
  border-radius: 10px;
}

.story-content{
  display: grid;
  gap: 12px;
}

.story-content p{
  font-size: 14px;
  color: #5A4F47;
}

.story-content h3{
  color: #2E2622;
  font-size: 28px;
  font-weight: bold;
}

.story-content button{
  width: 163px;
  padding: 12px 32px;
  border: none;
  border-radius: 28px;
  background-color: #e9b44c;
  color: #2E2622;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.story-content button:hover{
  background-color: #fcce72;
}
/* Our Story Section End */

/* Popular Section Start */

#popular{
  background-color: rgb(241, 231, 216);
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.card{
  background-color: #FFFFFF;
  padding: 23px;
  border: none;
  border-radius: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 15px;
}

.card h3{
  font-size: 17px;
  font-weight: bold;
  color: #2E2622;
}

.card-sub{
  color: #2E2622;
  font-size: 14px;
}

.card img{
  margin-bottom: 20px;
}

.card-price{
  font-size: 16px;
  font-weight: bold;
}

.top-content{
  text-align: center;
}

.top-content h2{
  font-size: 30px;
  font-weight: bold;
  color: #2E2622;
  margin-bottom: 48px;
  
}

.top-content p{
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
/* Popular Section End */

/* Different Section Start */

#different{
  background-color: rgb(251, 246, 239);
}

.box-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  
}

.box{
  
  display: grid;
  text-align: center;
  justify-items: center;
  padding: 18px;
  
  
}

.box img{
  
  height: 63px;
  width: 63px;
  margin-bottom: 15px;
}

.box h2{
  font-size: 16px;
  font-weight: bold;
  color: #2E2622;
}

.box p{
  font-size: 14px;
  color: #2E2622;
}

.diff-top-content p{
  font-size: 11px;
  color: #e9b44c;
  letter-spacing: 2px;
  margin-bottom: 7px;
}

.diff-top-content h2{
  font-size: 32px;
  font-weight: bold;
  color: #2E2622;
  margin-bottom: 48px;
}


/* Different Section End */
